
@{
    
}

<div class="container-fluid mt-5">
    
    <div class="row">
        <h2 class="text-center">Lịch tháng 11</h2>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-12 mx-auto">
                <!-- Table wrapped in responsive wrapper -->
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>Chủ Nhật</th>
                                <th>Thứ Hai</th>
                                <th>Thứ Ba</th>
                                <th>Thứ Tư</th>
                                <th>Thứ Năm</th>
                                <th>Thứ Sáu</th>
                                <th>Thứ Bảy</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span>1 - 11</span><br><span class="text-primary">Nguyễn Văn A</span></td>
                                <td><span>2 - 11</span><br><span class="text-primary">Trần Thị B</span></td>
                                <td><span>3 - 11</span><br><span class="text-primary">Lê Văn C</span></td>
                                <td><span>4 - 11</span><br><span class="text-primary">Nguyễn Thị D</span></td>
                                <td><span>5 - 11</span><br><span class="text-primary">Hoàng Văn E</span></td>
                                <td><span>6 - 11</span><br><span class="text-primary">Phạm Thị F</span></td>
                                <td><span>7 - 11</span><br><span class="text-primary">Trần Văn G</span></td>
                            </tr>
                            <tr>
                                <td><span>8 - 11</span><br><span class="text-primary">Lê Thị H</span></td>
                                <td><span>9 - 11</span><br><span class="text-primary">Nguyễn Văn I</span></td>
                                <td><span>10 - 11</span><br><span class="text-primary">Hoàng Thị J</span></td>
                                <td><span>11 - 11</span><br><span class="text-primary">Phạm Văn K</span></td>
                                <td><span>12 - 11</span><br><span class="text-primary">Trần Thị L</span></td>
                                <td><span>13 - 11</span><br><span class="text-primary">Lê Văn M</span></td>
                                <td><span>14 - 11</span><br><span class="text-primary">Nguyễn Thị N</span></td>
                            </tr>
                            <tr>
                                <td><span>15 - 11</span><br><span class="text-primary">Hoàng Văn O</span></td>
                                <td><span>16 - 11</span><br><span class="text-primary">Phạm Thị P</span></td>
                                <td><span>17 - 11</span><br><span class="text-primary">Trần Thị Q</span></td>
                                <td><span>18 - 11</span><br><span class="text-primary">Lê Thị R</span></td>
                                <td><span>19 - 11</span><br><span class="text-primary">Nguyễn Văn S</span></td>
                                <td><span>20 - 11</span><br><span class="text-primary">Hoàng Thị T</span></td>
                                <td><span>21 - 11</span><br><span class="text-primary">Phạm Thị U</span></td>
                            </tr>
                            <tr>
                                <td><span>22 - 11</span><br><span class="text-primary">Trần Thị V</span></td>
                                <td><span>23 - 11</span><br><span class="text-primary">Lê Văn W</span></td>
                                <td><span>24 - 11</span><br><span class="text-primary">Nguyễn Thị X</span></td>
                                <td><span>25 - 11</span><br><span class="text-primary">Hoàng Văn Y</span></td>
                                <td><span>26 - 11</span><br><span class="text-primary">Phạm Thị Z</span></td>
                                <td><span>27 - 11</span><br><span class="text-primary">Trần Văn AA</span></td>
                                <td><span>28 - 11</span><br><span class="text-primary">Lê Thị BB</span></td>
                            </tr>
                            <tr>
                                <td><span>29 - 11</span><br><span class="text-primary">Nguyễn Văn CC</span></td>
                                <td><span>30 - 11</span><br><span class="text-primary">Hoàng Thị DD</span></td>
                                <td></td> <!-- Thêm ô trống nếu tháng có ít hơn 31 ngày -->
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   
</div>
